body{
    background-color: rgb(255, 255, 255);
}
/* header */
#header{
    text-align: center;
    background-color: #AB183D;
    margin: 0 20vw;
}
#logo{
    width: 20vw;
    padding-bottom: 8vh;
    img{height:10vh;
    width:10vw;}
    align-items:center;
}
#title
{
    font-weight:bolder;
    border: 1px solid black;
    height: 25vh;
    display:flex;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    padding-top:5vh;
}
#sr{
    font-size: 4vh;
    padding-left: 5vw;
}

/* menu */
#menu{
    background-color: #8C384D;
    margin-top:0%;
    color: white;
    border: 1px solid rgb(0, 0, 0);
    text-align: left;
    font-weight: bold;
}
#select{
    list-style-type: none;
    display: inline-block;
}
li{
    display: inline-block;
    font-size: 2vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 2vw;
    padding-top: 2vh;
}
/* links */
#main{
    background-color: rgb(255, 255, 255);
    text-align: center;
    color: rgb(0, 0, 0);
}
#welcome{
font-size: large;
color: red;
font-family:Arial, Helvetica, sans-serif;
}
#links{
    font-weight: bold;
    font-size:150%;
    text-decoration-color: blue;
    color: blue;
    a:visited{
        color: blue;
    }
}
#slide-link-1{
    color: blue;
    font-size: 3vh;
    text-decoration: none;
    a:visited{
        color: blue;
    }
    text-align: center;
    font-weight: bold;
    margin-top: 2vh;
    position:relative;
    animation: slidings 1.5s linear 0s infinite alternate;
    }
    @keyframes slidings{
        from {left:0px;}
        to {left:8vw;}
    }
    #slide-link-2{
        color: blue;
        text-decoration: none;
        a:visited{
            color: blue;
        }
        font-weight: bold;
        margin-top: 2vh;
        position: relative;
        animation: sliding 4s linear 0s infinite alternate;
        }
        @keyframes sliding{
            from {left:-15vw;}
            to {left:20vw;}
        }
        #links:hover{
            animation:step-end;
        }
        #tools{
            margin-top: 5vh;
            background-color: blue;
            display: inline-block;
            margin-left: 35vw;
        }
        #head{
            text-decoration-style: none;
            display:flex;
            align-items: center;
            justify-content: center;
            height: 10vh;
            width: 25vw;
            font-family:sans-serif;
        }
        #abc{
            color: rgb(255, 255, 255);
            font-weight: bold;
            font-size:3vh;
        }